asn1crypto==0.24.0
bcrypt==3.1.4
cffi==1.11.5
chardet==2.2.1
click==6.7
colorama==0.2.5
command-not-found==0.3
cryptography==2.3.1
cssselect==1.0.3
Fabric3==1.14.post1
fake-useragent==0.1.10
Flask==1.0.2
html5lib==0.999
idna==2.7
itsdangerous==0.24
jieba==0.39
Jinja2==2.10
language-selector==0.1
lxml==4.2.4
MarkupSafe==1.0
paramiko==2.4.1
Pillow==5.2.0
pyasn1==0.4.4
pycparser==2.18
pycurl==7.19.3
pygobject==3.12.0
pymongo==3.7.1
pymssql==2.1.4
PyMySQL==0.9.2
pyquery==1.4.0
redis==2.10.6
requests==2.2.1
selenium==3.14.0
six==1.11.0
thulac==0.2.0
unattended-upgrades==0.1
urllib3==1.23
Werkzeug==0.14.1
